<!DOCTYPE html>
<html>
  <head>
    <!-- Include Bootstrap for styling -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <style>
      .qr-code {
        width: 300px;
      }
      body {
        height: 10vh;
        margin-top: 30px;
        padding: 30px;
        font-size: 20px;
      }
      button {
        background-color: Green;
        color: white;
        padding: 15px 20px;
        margin: 8px 0;
        cursor: pointer;
      }
      .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    </style>

    <title>QR Code</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="text-center">
        <h1>QR Code</h1>
        <!-- Get a Placeholder image initially,
	this will change according to the
	data entered later -->
        <img
          src="https://chart.googleapis.com/chart?cht=qr&chl=Hello+World&chs=160x160&chld=L|0"
          class="qr-code img-thumbnail img-responsive"
        />
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script>
      // Function to HTML encode the text
      // This creates a new hidden element,
      // inserts the given text into it
      // and outputs it out as HTML
      function htmlEncode(value) {
        return $("<div/>").text(value).html();
      }

      $(function () {
        // Specify an onclick function
        // for the generate button

        // Generate the link that would be
        // used to generate the QR Code
        // with the given data
        let finalURL =
          "https://chart.googleapis.com/chart?cht=qr&chl=" +
          "{{uniquecode}}" +
          "&chs=160x160&chld=L|0";

        // Replace the src of the image with
        // the QR code image
        $(".qr-code").attr("src", finalURL);
      });
    </script>
    <br>
    <form action="set" method="post">
            {% csrf_token %}
        <div class="center-screen">
          <p><strong>Press the button after showing QR to ATM</strong></p>
            <button type="submit" class="yesbtn">confirm</button>
        </div>
    </form>
  </body>
</html>
